.home .grid-container {
  display: grid;
  grid-template-columns: 437px 494px 582px;
  height: 100%;
  overflow: hidden;
}

.home .flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home .video-a {
  overflow: hidden;
  max-height: 400px;
}

.home .video-b {
  overflow: hidden;
}

.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home .img-a {
  height: 480px;
  overflow: hidden;
}

.home .img-b {
  height: 265px;
  overflow: hidden;
}

.home .text-a {
  padding: 2.5rem 2rem;
  background-color: #3fa79c;
  flex: 1;
}

.home .text-a h5 {
  font-size: var(--text-med);
  font-weight: var(--font-semibold);
}

.home .text-b {
  padding: 2.5rem 3.5rem;
  background-color: var(--main-color);
  flex: 1;
}

.home .text-a p,
.home .text-b p {
  font-size: var(--text-med);
}
